# Ignoriere den __pycache__-Ordner (vorkompilierter Python-Code)
__pycache__/

# Ignoriere den Ordner für die virtuelle Umgebung
virtualenvironment/

# Ignoriere den instance-Ordner (wird von Flask genutzt, z. B. für die SQLite-Datenbank)
instance/
