{% extends "base.html" %}                                           <!-- Diese Seite basiert auf base.html = erbt Kopfbereich, Styles, Flash-Nachrichten usw. -->

{% block content %}                                                   <!-- Hier beginnt der Inhalts-Block, der in base.html eingefügt wird -->

<h2>Willkommen, {{ username }}!</h2>                                    <!-- Überschrift mit personalisierter Begrüßung: Der Nutzername wird durch Jinja dynamisch eingesetzt -->

<div class="button-link-group">
    <a href="{{ url_for('learn_select_set') }}" class="button-link wide">📚 Jetzt lernen!</a>
    <a href="{{ url_for('sets_overview') }}" class="button-link wide"> 📖 Zu deinen Karteikartensets</a>
</div>

{% endblock %}