{# Startlayout nach Login. Von hier aus kann man entweder lernen oder zur Set-Verwaltung #}
{% extends "base.html" %}

{% block content %}

<h2>Willkommen, {{ username }}!</h2> {# "username" wird durch aktuellen Nutzernamen ausgetauscht #}

<div class="button-link-group">

    <a href="{{ url_for('learn_select_set') }}" class="button-link">📚 Jetzt lernen!</a>
    {# Link zur Lernseite (Set-Auswahl), gestylt als Button mit Icon #}

    <a href="{{ url_for('sets_overview') }}" class="button-link"> 📖 Zu deinen Karteikartensets</a>
    {# Link zur Übersicht aller Sets des Users, ebenfalls als Button #}
</div>

{% endblock %}
{# Ende des Inhaltsblocks – alles was hier drinsteht ersetzt den Block in base.html #}
