{# EINZELNE Karte bearbeiten #}
{% extends "base.html" %}

{% block content %}

    <h2>Karte bearbeiten</h2>

    {# Wird per POST zurück an dieselbe URL geschickt #}
    <form method="POST">

        {# Eingabefeld für die Frage #}
        <div>
            <label for="question">Frage:</label>
            <textarea name="question" rows="3" cols="50" required>{{ card.question }}</textarea> {# Kann nicht leer sein wegen "required" , weils ja "Edit" ist #}
            {# Der aktuelle Fragetext der Karte wird vorausgefüllt über {{ card.question }} #}
        </div>

        {# Eingabefeld für die Antwort #}
        <div>
            <label for="answer">Antwort:</label>
            <textarea name="answer" rows="3" cols="50" required>{{ card.answer }}</textarea>
            {# Auch die Antwort wird vorausgefüllt – {{ card.answer }} #}
        </div>

        {# Absende-Button zum Speichern der Änderungen #}
        <button type="submit">Änderungen speichern</button>
    </form>

    <div class="back-link-container">
    <a href="{{ url_for('manage_set', set_id=card.set_id) }}" class="button-link">⬅ Zurück zum Set Bearbeiten</a>
    </div>

{% endblock %}
