{% extends "base.html" %}

{% block content %}
    <h2>Karte bearbeiten</h2>

    <form method="POST">
        <div>
            <label for="question">Frage:</label>
            <textarea name="question" rows="3" cols="50" required>{{ card.question }}</textarea>
        </div>

        <div>
            <label for="answer">Antwort:</label>
            <textarea name="answer" rows="3" cols="50" required>{{ card.answer }}</textarea>
        </div>

        <button type="submit">Änderungen speichern</button>
    </form>

    <div class="back-link-container">
    <a href="{{ url_for('dashboard') }}" class="button-link">⬅ Zurück zur Startseite</a>
    </div>
{% endblock %}
