{# Neuen Benutzer registrieren #}
{% extends 'base.html' %}

{% block content %}

<h2>Registrierung</h2>

{# Formular zum Registrieren eines neuen Benutzers #}
<form method="POST">

    {# Eingabefeld: Benutzername #}
    <div>
        <label for="username">Benutzername:</label>
        <input type="text" name="username" id="username" required>
    </div>

    {# Eingabefeld: Passwort #}
    <div>
        <label for="password">Passwort:</label>
        <input type="password" name="password" id="password" required>
        {# type="password" von HTML selbst = Eingabe wird ausgeblendet #}
    </div>

    {# Eingabefeld: Passwort bestätigen #}
    <div>
        <label for="password_confirm">Passwort bestätigen:</label>
        <input type="password" name="password_confirm" id="password_confirm" required>
    </div>

    {# Absende-Button, submit auch fest bei HTML #}
    <button type="submit">Registrieren</button>
</form>

<p>
    Bereits ein Konto?
    <a href="{{ url_for('login') }}">Zum Login</a>
</p>

{% endblock %}
