{% extends "base.html" %}

{% block title %}Karteikartensets{% endblock %}

{% block content %}


<h2>Bestehende Sets:</h2>

{% if sets %}
    <ul>
        {% for s in sets %}
            <li>
                <a href="{{ url_for('manage_set', set_id=s['id']) }}">{{ s['name'] }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Du hast noch keine Sets erstellt.</p>
{% endif %}

<form method="POST" action="{{ url_for('sets_overview') }}">
    <div>
        <label for="set_name">Neues Set erstellen:</label>
        <input type="text" name="set_name" id="set_name" required />
        <button type="submit">Anlegen</button>
    </div>
</form>
<p style="margin-top: 20px;">
    <a href="{{ url_for('dashboard') }}">Zurück zum Dashboard</a>
</p>
{% endblock %}
